<ion-header no-border class="animated fadeInDown">
  <ion-toolbar color='dark' mode="ios">
    <ion-title>Upload Materials</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding material-upload'>
  <form>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Material Owner</ion-label>
          <ion-select mode="ios" interface="action-sheet" placeholder="Select Owner" name="owner" [selectedText]="owner" [(ngModel)]="owner">
            <ion-select-option *ngFor="let mowner of materialOwner" value="{{mowner.name}}">
              {{mowner.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Material Type</ion-label>
          <ion-select mode="ios" interface="action-sheet" placeholder="Select Type" name="type" [selectedText]="type" [(ngModel)]="type">
            <ion-select-option *ngFor="let mtype of materialType" value="{{mtype.name}}">
              {{mtype.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Material Name: </ion-label>
          <ion-input type="text" name="name" mode="md" [(ngModel)]="name" placeholder="AU9 Material"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Material ID: </ion-label>
          <ion-input type="text" name="mid" mode="md" [(ngModel)]="mid" placeholder="AU9" style="text-transform: uppercase;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Material Color: </ion-label>
          <ion-input type="text" name="color" mode="md" [(ngModel)]="color" placeholder="Blue" style="text-transform: capitalize;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Material Price: </ion-label>
          <ion-input type="text" name="price" mode="md" [(ngModel)]="price" placeholder="125/27"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="stacked">Material Image: </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button fill="outline" color="dark" (click)='AccessCamera()'>
          <ion-icon name='camera'>Camera</ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="outline" color="dark" (click)='AccessGallery()'>
            <ion-icon name='image'>Gallery</ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-img [src]='base64Image' *ngIf='base64Image'></ion-img>
    <ion-button color='dark' class="uploadbtn" *ngIf='base64Image' (click)='upload()' expand="block" fill="outline" type="submit">UPLOAD MATERIAL</ion-button>
  </form>
</ion-content>
