<ion-header no-border class="animated fadeInDown">
  <ion-toolbar color='dark' mode="ios">
    <ion-title>All Users</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="ionViewWillEnter(1, $event)"><ion-icon name="refresh"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios" [hidden]=!showNoData debounce="700" placeholder="Search Users"  [(ngModel)]="searchKey" (ionChange)="ionViewWillEnter(1, '')" showCancelButton="always" clearIcon=false class="animated bounceInLeft slow"></ion-searchbar>
</ion-header>

<ion-content class="ion-padding card-background-page">
  <ion-label color="danger" [hidden]=showNoData class="ion-text-center"><h2><b>Users not available.</b></h2></ion-label>

  <ion-label color="danger" [hidden]=showNoDataForSearch class="ion-text-center"><h2><b>No user found.</b></h2></ion-label>

  <ion-card *ngFor="let user of users; let i = index" class="animated bounceInLeft slow ion-margin-top">
    <ion-item>
      <ion-label> 
        <ion-icon name="person" color="medium"></ion-icon>
      </ion-label>
      <ion-input type="text" mode="md" value={{user.name}} readonly style="pointer-events: none;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> 
        <ion-icon name="phone-portrait" color="medium"></ion-icon>
      </ion-label>
      <ion-input type="tel" mode="md" value={{user.mobile}} readonly style="pointer-events: none;"></ion-input>
      <ion-button class="loginbtn" color='dark' expand="block" fill="outline" (click)="callMe(user.mobile)">CALL NOW</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-icon name="globe" color="medium"></ion-icon>
      </ion-label>
      <ion-textarea autoGrow=true mode="md" value={{user.address}} readonly style="pointer-events: none;"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label> 
        <ion-icon name="clipboard" color="medium"></ion-icon>
      </ion-label>
      <ion-input type="text" mode="md" value={{user.gst}} readonly style="pointer-events: none;"></ion-input>
    </ion-item>

    <ion-item color="medium" *ngIf="user.totalOrder>0" [routerLink]="['/', 'admin-user-orders', user.mobile, user.name]"  detail>
      <ion-label> 
        <ion-icon name="wallet" color="light"></ion-icon>
      </ion-label>
      <ion-input type="text" mode="md" value="{{user.totalOrder}} order(s) placed by this user"  readonly style="pointer-events: none;"></ion-input>
    </ion-item>

    <ion-item *ngIf="user.totalOrder==0">
      <ion-label> 
        <ion-icon name="wallet" color="medium"></ion-icon>
      </ion-label>
      <ion-input type="text" mode="md" value="{{user.totalOrder}} order placed by this user"  readonly style="pointer-events: none;"></ion-input>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll *ngIf="!noMoreData" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more materials..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
