.totalval:before {
    content: "₹";
    // color: #9c9c9c;
    color: red;
    font-weight: 500;
}

.totalval, .totalvallabel {
    color: red;
    pointer-events: none;
    font-weight: 500;
}

.hide-me {
    display: none;
}

.container{
    position: relative;
    width: 80%;
    height: 500px;
}

.slidetitle { 
   position: absolute; 
   bottom: 20px;
   left: 18px;
   color: white;
   text-align: left;
//    font-family: 'Libre Baskerville', serif;
}

.block{
   background-color:rgba(0, 0, 0, 0.5);
   padding: 4px;
}
