<ion-header no-border class="animated fadeInDown">
  <ion-toolbar color='dark' mode="ios">
    <ion-title>All Materials</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="ionViewWillEnter(1, $event)"><ion-icon name="refresh"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios" [hidden]=!showNoData debounce="700" placeholder="Search Materials"  [(ngModel)]="searchKey" (ionChange)="ionViewWillEnter(1, '')" showCancelButton="always" clearIcon=false class="animated bounceInLeft slow"></ion-searchbar>
</ion-header>

<ion-content class="ion-padding card-background-page">
  <ion-label color="danger" [hidden]=showNoData class="ion-text-center"><h2><b>Materials not available.</b></h2></ion-label>
  <ion-button class="loginbtn" [hidden]=showNoData color='dark' expand="block" fill="outline" [routerLink]="['/', 'upload-materials']">PLEASE ADD MATERIALS</ion-button>

  <ion-label color="danger" [hidden]=showNoDataForSearch class="ion-text-center"><h2><b>No material found.</b></h2></ion-label>

  <ion-card *ngFor="let material of materials; let i = index" class="animated bounceInLeft slow">
    <ion-card-content>
      <ion-row class="ion-text-left">
        <ion-col col-12>
          <ion-card-title>{{ material.name }}</ion-card-title>
          <ion-card-subtitle style="font-size: 20px;">{{ material.material_id }}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <img src="https://bhuminarrowfab.000webhostapp.com/images/materials/{{material.image}}">
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left">
          <div class="card-price" style="font-size: 20px;">&#8377;{{ material.price }}</div>
        </ion-col>
      </ion-row>
      <ion-button class="loginbtn" color='dark' expand="block" fill="outline" [routerLink]="['/', 'admin-material-details', material.id]">MATERIAL DETAIL</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="!noMoreData" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more materials..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
