<ion-app>
    <ion-menu side="start" menuId="user" contentId="user-menu-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="true">
            <!-- <ion-item href="/profile/mobile/{{auth.usermobile}}" mode="ios"> -->
            <ion-item routerLink="/profile/mobile/{{auth.usermobile}}" routerDirection="forward" mode="ios">
              <ion-icon name="contact" slot="start"></ion-icon>
                My Profile
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="true">
            <!-- <ion-item href="/orders/mobile/{{auth.usermobile}}" mode="ios"> -->
            <ion-item routerLink="/orders/mobile/{{auth.usermobile}}" routerDirection="forward" mode="ios">
              <ion-icon name="wallet" slot="start"></ion-icon>
                My Orders
                <ion-chip mode="ios">
                  <ion-label>{{ auth.totalOrders }}</ion-label>
                </ion-chip>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="true">
            <ion-item href="/material/mobile/{{auth.usermobile}}" mode="ios">
            <!-- <ion-item routerLink="/material/mobile/{{auth.usermobile}}" routerDirection="forward" mode="ios"> -->
              <ion-icon name="images" slot="start"></ion-icon>
                All Materials
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-button mode="md" color='primary' expand="block" fill="outline" (click)="exitApp()">EXIT APP</ion-button>
        <ion-button mode="md" color='danger' expand="block" fill="outline" (click)="logout()">LOGOUT</ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="user-menu-content"></ion-router-outlet>

    <ion-menu side="start" menuId="admin" contentId="user-admin-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list lines="none">
            <ion-menu-toggle auto-hide="true">
              <!-- <ion-item href="/all-materials" mode="ios"> -->
                <ion-item routerLink="/all-materials" routerDirection="forward" mode="ios">
                <ion-icon name="images" slot="start"></ion-icon>
                All Materials
                <ion-chip mode="ios">
                  <ion-label>{{ auth.adminTotalMaterials }}</ion-label>
                </ion-chip>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list lines="none">
            <ion-menu-toggle auto-hide="true">
              <!-- <ion-item href="/all-orders" mode="ios"> -->
              <ion-item routerLink="/all-orders" routerDirection="forward" mode="ios">
                <ion-icon name="wallet" slot="start"></ion-icon>
                All Orders
                <ion-chip mode="ios">
                  <ion-label>{{ auth.adminTotalOrders }}</ion-label>
                </ion-chip>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list lines="none">
            <ion-menu-toggle auto-hide="true">
              <!-- <ion-item href="/all-users" mode="ios"> -->
              <ion-item routerLink="/all-users" routerDirection="forward" mode="ios">
                <ion-icon name="contacts" slot="start"></ion-icon>
                All Users
                <ion-chip mode="ios">
                  <ion-label>{{ auth.adminTotalUsers }}</ion-label>
                </ion-chip>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list lines="none">
              <ion-menu-toggle auto-hide="true">
                <!-- <ion-item href="/upload-materials" mode="ios"> -->
                <ion-item routerLink="/upload-materials" routerDirection="forward" mode="ios">
                  <ion-icon name="cloud-upload" slot="start"></ion-icon>
                  Upload Materials
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
        </ion-content>
        <ion-footer>
          <ion-button mode="md" color='primary' expand="block" fill="outline" (click)="exitApp()">EXIT APP</ion-button>
          <ion-button mode="md" color='danger' expand="block" fill="outline" (click)="logout()">LOGOUT</ion-button>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet id="user-admin-content"></ion-router-outlet>
  </ion-app>
  