<!-- <ion-header> -->
  <!-- <ion-toolbar color='primary' mode="ios"> -->
    <!-- <ion-title>Welcome to Labh Textile</ion-title> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->

<!-- <ion-content class="" fullscreen style="--color: white; --background: url('./assets/images/bg1.png') repeat"> -->
<ion-content>
  <ion-img class="animated fadeInDown slow" src="./assets/images/bhuminarrowfab.jpg"></ion-img>
  <div  class="ion-padding animated bounceInLeft delay-1s"> 
    <h1>Welcome to Bhumi Narrow Fab</h1>
    <h6>Get connected with us to order fancy lace from huge collection</h6>
    <ion-button class="ion-padding loginbtn" color='dark' expand="block"  fill="outline" href="/login">LOG IN</ion-button>
  </div>
</ion-content>
